<ion-header>
  <ion-toolbar>
    <ion-title>movipage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="12">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{vcaption}}</ion-card-subtitle>
        <img src="{{vposter}}" alt="">
        <ion-card-title>{{vname}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{voverview}}
        <video src="{{vvideo}}"></video>
      </ion-card-content>
      </ion-card>
   
  </ion-col>
  </ion-row>

</ion-content>
